.booking-container {
  display: 'flex';
  flex-direction: 'column';
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.hotel-image {
  border-radius: 15px;
  width: 90%;
  margin: auto;
  height: 20vh;
}

.form-container {
  margin: 0 2%;
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'start';
}
.booking-content {
  width: fit-content;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .hotel-image {
    width: 70%;
    height: 50vh;
    margin-left: 15%;
    margin-bottom: -5%;
    background-size: cover;
  }
  .hotel-details {
    width: max-content;
  }

  .form-container {
    margin: 0;
  }
  .booking-content {
    margin-top: 2%;
  }
}

@media screen and (min-width: 1200px) {
  .hotel-image {
    width: 50%;
    height: 60vh;
    margin-left: 25%;
    margin-bottom: -5%;
    background-size: cover;
  }
  .booking-content {
    margin-top: 4%;
  }
}
